

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: "Quicksand";
}

.navbar, 
.navbar .navbar-link, 
.navbar .navbar-brand,
.navbar .navbar-toggler{
    color: #112A46 !important;
}

.footer{
     background-color: #112A46;
     color: #CFF4FC;
}
